.hero-bg,
.info-bg,
.quote-bg,
.action-bg,
.footer-bg {
  display: flex;
  justify-content: center;
}

.hero,
.info,
.quote,
.action,
.footer {
  max-width: 1000px;
} 

body {
  margin: 0;
  font-family: sans-serif;
}

.hero-bg,
.footer-bg {
  background-color: #1F2937;
  color: #E5E7EB;
}

.hero-maintext {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8; 
}

.hero-subtext,
.header-links {
  font-size: 18px;
  color: #E5E7EB;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

button,
.action {
  background-color: #3882F6;
}

.info-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  text-align: center;
  margin: 50px 0;
}

.quote-bg {
  background-color: #E5E7EB;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero-bottom {
  display: flex;
  margin: 100px 0;
  gap: 50px;
}

.hero-text {
  flex: 1;
  padding: 16px 0;
}

.hero-image {
  background-color: rgba(255, 255, 255, 0.3);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text button {
  border: 0;
  padding: 8px 30px;
  color: #E5E7EB;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
}

.hero-subtext {
  margin: 8px 0 16px;
  display: flex;
  align-items: center;
}

.info {
  flex: 1;
}

.info-container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 100px;
  gap: 50px;
  color: grey;
}

.info-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 150px;
}

.info-image {
  border: 4px solid #3882F6;
  width: 150px;
  height: 150px;
  border-radius: 18px;
}
